/*#region common*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    max-width: 100%;
}
:root{
    
}
/*#endregion common*/

/*#region utilities*/
.d-flex{
    display: flex;
}.p-1{
    padding: 1rem;
}



/*#endregion utilities*/

/*#region header*/
 header#site_header .d-flex {
    gap: 1rem;
    justify-content: flex-end;
}
/*#endregion header*/


/*main*/
.lg-container {
    width: 90%;
    margin: 0 10vh;
    padding-top: 5vh;
    justify-content: space-around;
    flex-direction: column;
}
.row.d-flex {
    gap: 0.5rem;
    flex-wrap: wrap;
}

.col-user  {
    display: flex;
    padding:7vh;
}
/*#region spacings*/
#site_main {
    padding-top: 1rem;
}

[class^="col-"]{
    margin-bottom: 0.5rem;
}

/*#endregion spacings*/

/*#region debug*/

.debug {
    background-color: yellow ;
}

.debug header#site_header .d-flex {
    background-color: red;
}

.debug .speaker{
    background-color: grey;
    border: 3px solid black;
}

.debug .large-vision{
    background-color: aqua;
    border: 3px solid black;
}

/*fine-header-debug*/

.debug .lg-container {
    background-color: orange;
}

.col-user  {
    border: 2px solid black;
}

/*#endregion debug*/

