/*#region common*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    max-width: 100%;
    font-family:'Lato', sans-serif ;
    font-size: 20px;
    font-weight: 700;
}
:root{
    --primary-dark:#000000;
    --primary-light:#FFFFFF;
    --zoom-success:#4AC700;
    --zoom-danger:#ff0b02;
    --zoom-toolbar:#222222;
    --zoom-button:#b8bdc485;
}

img{
    width: 100%;
}


/*#endregion common*/

/*#region utilities*/
.d-flex{
    display: flex;
}
.p-1{
    padding: 1rem;
}

body {
    max-width: 100%;
    max-height: 1000vh;
    background-color: var(--primary-dark);
    overflow-wrap: normal;
    position:relative:
}
.btn{
    border-radius: 6px;
    padding: 5px 4.5px;
    border: none;
    background-color: var(--zoom-button);
    color: var(--primary-light);

}


/*#endregion utilities*/

/*#region header*/
.h-container{
    padding: 1vh 1vh;
}
 header#site_header .d-flex {
    gap: 1rem;
    justify-content: flex-end;
}
/*#endregion header*/


/*#region main*/
#site_main {
    padding-top: 1rem;
    max-height: 100vh;
}
.lg-container {
    width: 90%;
    margin: 0 10vh;
    padding-top: 1vh;
    padding-bottom: 2vh;
    justify-content: space-around;
    flex-direction: column;
}
.row.d-flex {
    gap: 0.5rem;
    flex-wrap: wrap;
    justify-content: center;
}

.col-user  {
    display: flex;
    padding:7vh;
    background-image: url(https://picsum.photos/200);
    width: 200px;
    height: 130px;
    position: relative;
}

.name{
    color: var(--primary-light);
    position: absolute;
    bottom: 0%;
    left: 0%;
    background-color: var(--zoom-toolbar);
    font-size: 13px;
    padding: 5px;
}


/*#endregion main*/

/*#region top footer*/

footer#site_footer{
    max-height: 40%;
    position: sticky;
    width: 100%;
}

.sm-container {
    width: 100%;
    display: flex;
}
.row.d-flex {
    flex-grow: 3;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col-icon {
    display: flex;
    color: var(--primary-light);
    font-size: 20px;
    padding: 5px;
    padding-bottom: 0;
    gap: 1rem;
}

div.end{
    font-size: 15px;
    color: var(--zoom-danger);
    background-color: var(--zoom-button);
}

.toolbar{
    background-color: var(--zoom-toolbar);
}

.col-text{
    color: var(--primary-light);
    font-size: 12px;
    gap: 1rem;
}
/*#endregion top  footer*/



/*#region spacings*/
#site_main {
    padding-top: 1rem;
}

[class^="col-"]{
    margin-bottom: 0.5rem;
}

/*#endregion spacings*/

/*#region debug*/

.debug {
    background-color: yellow ;
}

.debug header#site_header .d-flex {
    background-color: red;
}

.debug .speaker{
    background-color: grey;
    border: 3px solid black;
}

.debug .large-vision{
    background-color: aqua;
    border: 3px solid black;
}

/*fine-header-debug*/



.debug .lg-container {
    background-color: orange;
}

.debug .col-user  {
    border: 2px solid black;
}
/*fine main debug*/


.debug .sm-container {
    background-color: aqua;
}

.debug .col-icon {
    border: 3px solid green;
}

/*fine footer debug*/

/*#endregion debug*/

